#include <physical_layouts.dtsi>

/ {
    physical_layout_genie: physical_layout_genie {
        compatible = "zmk,physical-layout";
        display-name = "LAYOUT";


        &physical_layout0 {
            kscan = <&kscan0>; // Label of the kscan node this layout uses
            transform = <&keymap_transform_0>; // Label of the matrix transform this layout uses
};

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0   71  (-500)    50   121>
            , <&key_physical_attrs 100 100  100   62  (-500)   150   112>
            , <&key_physical_attrs 100 100  215   26       0     0     0>
            , <&key_physical_attrs 100 100  315    0       0     0     0>
            , <&key_physical_attrs 100 100  415   32       0     0     0>
            , <&key_physical_attrs 100 100    9  171  (-500)    59   221>
            , <&key_physical_attrs 100 100  109  162  (-500)   159   212>
            , <&key_physical_attrs 100 100  215  127       0     0     0>
            , <&key_physical_attrs 100 100  315  100       0     0     0>
            , <&key_physical_attrs 100 100  415  132       0     0     0>
            , <&key_physical_attrs 100 100   17  270  (-500)    67   320>
            , <&key_physical_attrs 100 100  117  262  (-500)   167   312>
            , <&key_physical_attrs 100 100  215  227       0     0     0>
            , <&key_physical_attrs 100 100  315  200       0     0     0>
            , <&key_physical_attrs 100 100  415  232       0     0     0>
            , <&key_physical_attrs 100 100  389  348       0     0     0>
            , <&key_physical_attrs 100 100  505  358    1500   555   408>
            , <&key_physical_attrs 100 100  516   37       0     0     0>
            , <&key_physical_attrs 100 100  516  137       0     0     0>
            , <&key_physical_attrs 100 100  516  237       0     0     0>
            , <&key_physical_attrs 100 100  442  451     500   492   501>
            , <&key_physical_attrs 100 100  608  395    2500   658   445>
            , <&key_physical_attrs 100 100  616   68       0     0     0>
            , <&key_physical_attrs 100 100  616  169       0     0     0>
            , <&key_physical_attrs 100 100  616  269       0     0     0>
            , <&key_physical_attrs 100 100 1900   71     500  1950   121>
            , <&key_physical_attrs 100 100 1800   62     500  1850   112>
            , <&key_physical_attrs 100 100 1685   26       0     0     0>
            , <&key_physical_attrs 100 100 1585    0       0     0     0>
            , <&key_physical_attrs 100 100 1485   32       0     0     0>
            , <&key_physical_attrs 100 100 1891  171     500  1941   221>
            , <&key_physical_attrs 100 100 1792  162     500  1842   212>
            , <&key_physical_attrs 100 100 1685  127       0     0     0>
            , <&key_physical_attrs 100 100 1585  100       0     0     0>
            , <&key_physical_attrs 100 100 1485  132       0     0     0>
            , <&key_physical_attrs 100 100 1883  270     500  1933   320>
            , <&key_physical_attrs 100 100 1783  262     500  1833   312>
            , <&key_physical_attrs 100 100 1685  227       0     0     0>
            , <&key_physical_attrs 100 100 1585  200       0     0     0>
            , <&key_physical_attrs 100 100 1485  232       0     0     0>
            , <&key_physical_attrs 100 100 1511  348       0     0     0>
            , <&key_physical_attrs 100 100 1395  358 (-1500)  1445   408>
            , <&key_physical_attrs 100 100 1384   37       0     0     0>
            , <&key_physical_attrs 100 100 1384  137       0     0     0>
            , <&key_physical_attrs 100 100 1384  237       0     0     0>
            , <&key_physical_attrs 100 100 1458  451  (-500)  1508   501>
            , <&key_physical_attrs 100 100 1292  395 (-2500)  1342   445>
            , <&key_physical_attrs 100 100 1284   68       0     0     0>
            , <&key_physical_attrs 100 100 1284  169       0     0     0>
            , <&key_physical_attrs 100 100 1284  269       0     0     0>
            ;
    };
};
