#include <physical_layouts.dtsi>

/ {
    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "LAYOUT";

        kscan = <&kscan0>;
        transform = <&matrix_transform0>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0   71  (-500)    50   121>
            , <&key_physical_attrs 100 100  100   62  (-500)   150   112>
            , <&key_physical_attrs 100 100  215   26       0     0     0>
            , <&key_physical_attrs 100 100  315    0       0     0     0>
            , <&key_physical_attrs 100 100  415   32       0     0     0>
            , <&key_physical_attrs 100 100 1196   32       0     0     0>
            , <&key_physical_attrs 100 100 1297    0       0     0     0>
            , <&key_physical_attrs 100 100 1397   26       0     0     0>
            , <&key_physical_attrs 100 100 1512   62     500  1562   112>
            , <&key_physical_attrs 100 100 1612   71     500  1662   121>
            , <&key_physical_attrs 100 100  516   37       0     0     0>
            , <&key_physical_attrs 100 100  616   68       0     0     0>
            , <&key_physical_attrs 100 100    9  171  (-500)    59   221>
            , <&key_physical_attrs 100 100  109  162  (-500)   159   212>
            , <&key_physical_attrs 100 100  215  127       0     0     0>
            , <&key_physical_attrs 100 100 1397  127       0     0     0>
            , <&key_physical_attrs 100 100 1503  162     500  1553   212>
            , <&key_physical_attrs 100 100 1603  171     500  1653   221>
            , <&key_physical_attrs 100 100  996   68       0     0     0>
            , <&key_physical_attrs 100 100 1096   37       0     0     0>
            , <&key_physical_attrs 100 100  315  100       0     0     0>
            , <&key_physical_attrs 100 100  415  132       0     0     0>
            , <&key_physical_attrs 100 100  516  137       0     0     0>
            , <&key_physical_attrs 100 100  616  169       0     0     0>
            , <&key_physical_attrs 100 100   17  270  (-500)    67   320>
            , <&key_physical_attrs 100 100 1594  270     500  1644   320>
            , <&key_physical_attrs 100 100  996  169       0     0     0>
            , <&key_physical_attrs 100 100 1096  137       0     0     0>
            , <&key_physical_attrs 100 100 1196  132       0     0     0>
            , <&key_physical_attrs 100 100 1297  100       0     0     0>
            , <&key_physical_attrs 100 100  117  262  (-500)   167   312>
            , <&key_physical_attrs 100 100  215  227       0     0     0>
            , <&key_physical_attrs 100 100  315  200       0     0     0>
            , <&key_physical_attrs 100 100  415  232       0     0     0>
            , <&key_physical_attrs 100 100  516  237       0     0     0>
            , <&key_physical_attrs 100 100 1096  237       0     0     0>
            , <&key_physical_attrs 100 100 1196  232       0     0     0>
            , <&key_physical_attrs 100 100 1297  200       0     0     0>
            , <&key_physical_attrs 100 100 1397  227       0     0     0>
            , <&key_physical_attrs 100 100 1494  262     500  1544   312>
            , <&key_physical_attrs 100 100  616  269       0     0     0>
            , <&key_physical_attrs 100 100  389  348       0     0     0>
            , <&key_physical_attrs 100 100  505  358    1500   555   408>
            , <&key_physical_attrs 100 100  608  395    2500   658   445>
            , <&key_physical_attrs 100 100  442  451     500   492   501>
            , <&key_physical_attrs 100 100 1170  451  (-500)  1220   501>
            , <&key_physical_attrs 100 100 1004  395 (-2500)  1054   445>
            , <&key_physical_attrs 100 100 1107  358 (-1500)  1157   408>
            , <&key_physical_attrs 100 100 1223  348       0     0     0>
            , <&key_physical_attrs 100 100  996  269       0     0     0>
            ;
    };
};
