#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            /*  Q       W       E       R       T 
                Y*/

            bindings = <
&trans  &kp Q  &kp W  &kp E  &kp R  &trans  &kp A  &kp S  &kp D  &kp F  &trans  &kp Z  &kp X  &kp C  &kp V  &trans  &trans  &kp T  &kp G  &kp B  &trans  &trans  &trans  &trans  &trans  &trans  &kp LEFT_BRACKET  &kp P  &kp I  &kp U  &trans  &kp SQT  &kp L  &kp K  &kp J  &trans  &kp RIGHT_BRACKET  &kp SLASH  &kp PERIOD  &kp M  &trans  &trans  &kp Y  &kp H  &kp N  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
