    #include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0
            /*  Q       W       E       R       T 
                Y*/
                &none    &kp Q   &kp W   &kp E   &kp R 
                &none    &kp A   &kp S   &kp D   &kp F 
                &none    &kp Z   &kp X   &kp C   &kp V 
                &none    &none   &kp T   &kp G   &kp B 
                &none    &none   &none   &none   &none 

                &none    &none   &none   &none   &none 
                &none    &none   &none   &none   &none 
                &none    &none   &none   &none   &none 
                &none    &none   &none   &none   &none 
                &none    &none   &none   &none   &none 

            >;
        };
    };
 };